.section {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
}

.socialsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.instaDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

@media(min-width: 768px) {
    .instaDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .instaDiv {
        grid-template-columns: 1fr 1fr 1fr;
    }
}