.wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--text-800);
    font-weight: 500;
    margin-right: 1rem;
    transition: color 300ms ease;
}

.link:hover {
    color: var(--text);
}